@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
  font-family: Montserrat;
  src: url('/Montserrat/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('/Montserrat/Montserrat-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

* {
  font-family: Montserrat, Inter, Roboto, -apple-system, BlinkMacSystemFont,
    PingFang SC, Microsoft YaHei, sans-serif !important;
}
body p {
  font-family: Montserrat, Inter, Roboto, -apple-system, BlinkMacSystemFont,
    PingFang SC, Microsoft YaHei, sans-serif;
}

.main-body::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.main-body::before,
.main-body::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
